@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Kode Mono', monospace;
}

a {
	text-decoration: none;
}
